/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: white;

body {
  background-image: url("../images/JeffQuest.jpg");
  background-size: 100%;
  color: white;
  display: grid;
  grid-template-areas: 
  'header'
  'player-info'
  'round'
  'questions'
}

.welcome-banner {
  position: relative;
  padding: 20px;
  text-align: center;
  border: 5px solid #d86a6a;
  top: 90%;
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    input {
      margin: 10px;
    }
  }
  button {
    font-size: 20px;
  } 
}

header {
  grid-area: header;
}

.player {
  grid-area: player-info;
  display: flex;
  height: 260px;
}

.player--score {
  // width: 50px;
  margin: 10px;
  text-align: center;
  border-right: solid 2px #ffffff;
  padding-right: 10px;
  width: 150px;
  .player__name {
    font-size: 25px;
    // padding-bottom: 10px;
    // border-bottom: solid 2px #ffffff;
  }
  .player__score {
    font-size: 50px;
  }
  .player__points {
    // border-top: solid 2px #ffffff;
    // padding-top: 10px;
    font-size: 15px;
  }
}

.player__three {
  border-right: none;
}

h1 {
  font-family: cursive;
}

.player__points {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.player__name {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.round__catagory {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 25px;
  transition: background 250ms ease-in-out, 
                transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.round {
  grid-area: round;
  display: flex;
  justify-content: flex-end;
}

.questions {
  grid-area: questions;
  display: flex;
}

.round__div,
.round__point--container,
.questions__current--question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-marker {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,100% {
    opacity: 0.5;
  }
  50% {
    font-size: 6em;
    opacity: 1;
    color: black;
  }
}