$primary-white: hsla(0, 4%, 100%, 98%);
$primary-black: hsla(0, 85%, 8%, 98%);
$black-black: black;
$white-white: white;
$transparent-background: hsla(35, 100%, 83%, 0.9);
$extra-transparent: hsla(0, 13%, 30%, 0.45);
$incorrect: #d86a6a;

body {
  background-color: $black-black;
  background-image: url("../images/JeffQuest.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome-banner {
  color: $primary-black;
  padding: 20px;
  text-align: center;
  border: 5px solid $incorrect;
  border-radius: 15px;
  background-color: $transparent-background;
  margin-top: 14%;

  .name-input {
    height: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;

    input {
      border-radius: 5px;
      border: 1px solid $primary-black;
      margin: 10px;
    }
  }

  .about-game

  button {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    border-radius: 15px;
    font-size: 20px;
  }
}

main {
  display: grid;
  grid-template-areas: 
  "head head head"
  "player blank round"
  "question question round";
  box-sizing: border-box;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 40% 40%;
}

header {
  grid-area: head;
  color: $white-white;
  font-size: 1.2em;
}

.main__header {
  margin-left: 13%;
}

header button {
  background-color: $transparent-background;
  position: absolute;
  top: 3%;
  right: 5%;
  height: 40px;
  width: 80px;
  border: 2px solid $incorrect;
  border-radius: 5px;
}

.header__btn:hover {
  transform: scale(1.1);
}

.player {
  grid-area: player;
  display: flex;
  height: 260px;
}

.player--score {
  color: $white-white;
  background-color: $extra-transparent;
  grid-area: player;  
  margin: 10px;
  text-align: center;
  border: solid 2px $primary-white;
  border-radius: 15px;
  padding-right: 10px;
  .player__name {
    width: 110px;
    font-size: 25px;
  }
  .player__score {
    // width: 110px;
    font-size: 50px;
  }
  .player__points {
    // width: 110px;
    font-size: 15px;
  }
}

h1 {
  font-family: cursive;
}

.player__points {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.player__name {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.round__catagory {
  grid-area: round;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: $transparent-background;
  border-radius: 5px;
  border: 2px solid $primary-white;
  transition: background 250ms ease-in-out, 
                transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.round__catagory:hover {
  transform: scale(1.1);
  border-color: $incorrect;
}

.round {
  grid-area: round;
  display: flex;
  justify-content: flex-end;
  height: 400px;
}

.round__div {
  color: $primary-black;
  background-color: $extra-transparent;
  border-radius: 5px;
  font-size: 22px;
  border: 2px solid $primary-white;
  height: 140px;
  margin-top: 10px;
  width: 120%;
  margin-right: 10%;
}

.round__point--container {
  background-color: $extra-transparent;
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid $primary-white;
  width: 98%;
  padding-bottom: 10%;
}

.round__current--title,
.round__catagory--prompt,
.round__point--prompt,
.round__point--value {
  text-align: center;
  color: $white-white;
  font-size: 18px;
  margin-bottom: 12%;
}

.round__point--value {
  padding: 2% 20%;
  margin: 5% 0;
  background-color: $primary-white;
  color: $primary-black;
  border: 2px solid $incorrect;
  border-radius: 15px;
}

.round__point--value:hover {
  transform: scale(1.1);
}

.round__point--value:disabled {
  background-color: grey;
  color: $incorrect;
}

.round__div,
.round__point--container {
  grid-area: round;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  grid-area: question;
}

.questions__current--question {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  color: $primary-white;
  background-color: $extra-transparent;
  border-radius: 5px;
  border: 2px solid $primary-white;
  grid-area: question;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.questions__current--question--title {
  margin: 0;
}

.answer-incorrect-banner,
.answer-correct-banner {
  margin-top: 15%;
  margin-left: 5%;
  width: 80%;
  border-radius: 5px;
  background-color: $extra-transparent;
  grid-area: question;
  padding: 5%;
  display: none;
  text-align: center;
}

.answer-incorrect-banner {
  border: 5px solid $incorrect;
  color: $white-white;
}

.answer-correct-banner {
  color: $white-white;
  border: 5px solid rgb(0, 65, 0);
}

.wager--err {
  color: rgb(180, 0, 0);
  font-size: 10px;
  font-weight: 300;
}

.player-marker {
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  0%,100% {
    opacity: 0.5;
  }
  50% {
    font-size: 1.8em;
    opacity: 1;
    color: $primary-black;
  }
}

@media only screen and (max-width: 1150px) {

  .round__catagory--prompt {
    margin-bottom: 17%;
  }
}

#point {
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.player__name,
.player__score,
.player__points {
  cursor: default;
}

@media only screen and (max-width: 850px) {

  body {
    background-size: 850px;
  }

  .round__catagory--prompt {
    margin-bottom: 20%;
  }
  

  .round__div {
    margin-right: 0;
  }
}
